name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    uses: mac9sb/server/.github/workflows/project-release.yml@main
    permissions:
      contents: write
    with:
      tag_name: ${{ github.ref_name }}
      release_title_prefix: Release
      draft: false
      generate_release_notes: false
      release_body_intro: ""
    secrets:
      RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
